<div class="detail-container">

  <div class="header">
    <h1>{{ entity?.strDrink }}</h1>
    <button mat-button class="back-button" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon> Atrás
    </button>
  </div>

  <div class="main-image" *ngIf="entity?.strDrinkThumb">
    <img [src]="entity.strDrinkThumb+ '/preview'" alt="{{ entity.strDrink }}"/>
  </div>


  <button mat-raised-button color="primary" (click)="toggleDetails()">
    <mat-icon>{{ showDetails ? 'expand_less' : 'expand_more' }}</mat-icon>
    {{ showDetails ? 'Ocultar Detalle' : 'Ver Detalle' }}
  </button>


  <mat-expansion-panel *ngIf="showDetails">
    <mat-expansion-panel-header>
      <mat-panel-title>Detalle</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="cocktail-detail">

      <div class="cocktail-description" *ngIf="entity?.strInstructionsES">
        <h2>Descripción</h2>
        <p>{{ entity.strInstructionsES }}</p>
      </div>


      <div >
        <h2>Ingredientes</h2>
        <ul class="ingredients-list">
          <li *ngFor="let item of ingredients" class="ingredients-item">


            <span>{{ item.ingredient }}: {{ item.measure }}</span>
          </li>
        </ul>
      </div>
    </div>


  </mat-expansion-panel>
</div>
